<!doctype html>
<html>
<head>
	<title>Veilmoor Travel</title>
</head>
<body>
	<!-- The header element was introduced to provide -->
	<!-- semantic information about content that appears -->
	<!-- At the top of the page s.a. logos, title text, or navs -->
	<header>
		<img src="/img/logo.jpg" alt="Veilmoor Travel Logo">
	</header>

	<!-- Replaced with the HTML for each view -->
	{{{ body }}}
</body>
</html>
